extends layout 

block content 

  h1 #{book.title}
  h3 #{book.author.name}

  div(style='margin-left:20px;margin-top:20px;')

  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre: ]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |,
